extends layout

block content
  - let createdestination = `dispatch(\"/BBWORKS/create")`
  button.btn(class="btn-primary m1-1", onclick= createdestination) CREATE A NEW PRODUCT
  h1= title
   -
    //- let results = [
    //-   { PRODUCT_NAME: 'Gentle and Clean Foaming Hand Soap', PRODUCT_COLLECTION: 'Winter Candy Apple', PRODUCT_PRICE: 7.95 },
    //-   { PRODUCT_NAME: 'Single Wick Candle', PRODUCT_COLLECTION: 'A Thousand Wishes', PRODUCT_PRICE: 15.95 },
    //-   { PRODUCT_NAME: 'Fine Fragrance Mist', PRODUCT_COLLECTION: 'Strawberry SnowFlakes', PRODUCT_PRICE: 17.95 },
    //-   { PRODUCT_NAME: 'Fine Fragrance Mist', PRODUCT_COLLECTION: 'Champagne Toast', PRODUCT_PRICE: 18.95 }
    //- ];
    let items = results
  div.container-fluid
    div.row.d-m1.flex-row
      each prdt,index in items
        - let detailestination = `dispatch(\"/BBWORKS/detail?id=${prdt._id}\")`
        - let updatedestination = `dispatch(\"/BBWORKS/update?id=${prdt._id}\")`
        - let deletedestination = `dispatch(\"/BBWORKS/delete?id=${prdt._id}\")`
        div.col-sm-2(onclick=`buy(${index})`)
          div
            p PRODUCT_NAME: #{prdt.PRODUCT_NAME}
            p PRODUCT_COLLECTION: #{prdt.PRODUCT_COLLECTION}
            p PRODUCT_PRICE: $#{prdt.PRODUCT_PRICE}
        button.btn(class="btn-info ml-1", onclick= detailestination) Detail
        button.btn(class="btn-warning ml-1", onclick= updatedestination) Update
        button.btn(class="btn-danger ml-1", onclick= deletedestination) Delete
  script.
    function dispatch(path) {
      window.location.href=path
    }
    function buy(index) {
      alert(`You purchased item ${index+1}.`);
    }